.layout {
  min-height: 100vh !important;
}

.sider {
  background-color: #282d3e !important;
}

.menu {
  height: 100%;
  background-color: #282d3e !important;

  & ul {
    background-color: #282d3e !important;
  }
}

.header {
  height: max-content;
  padding: 8px 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #282d3e;

  &Content {
    margin-left: 35px;
    display: flex;
    align-items: center;

    p {
      margin: 0 15px;
      color: #fff;
    }
  }
}

.logo {
  padding: 15px 20px !important;
}

.content {
  padding: 35px 50px !important;
  background-color: #f8f8f8;
}

.button {
  font-weight: 500;
  display: block;
  width: 200px;
  color: #fff;
  padding: 8px;
  height: 40px;
  background-color: #4344ff;
  border-color: #4344ff;
  border-radius: 4px;
}
